<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleDragAndDrop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>379AA9E41EF940E700B50074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379AA9F51EF940E700B50074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379AAA001EF940E700B50074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
