<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstWatchOSApp WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FirstWatchOSApp WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FirstWatchOSApp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FirstWatchOSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>379453EC1EE9477900A1A823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379454001EE9477900A1A823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3794540B1EE9477900A1A823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379454141EE9477900A1A823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
